<div class="container footer-container">
  <p>
    {{ site.name | escape }} -
    <a href="mailto:{{ site.email }}" target="_blank">{{ site.email | escape }}</a>
    {%- if site.last_update -%}
      &nbsp;- Last update: {{ site.last_update }}
    {%- endif -%}
  </p>
  {%- if site.power_platform -%}
    <p>
      Powered by {{ site.power_platform | markdownify }}
    </p>
  {%- endif -%}
  {%- if site.copyright_notice -%}
    <p>
      {{ site.copyright_notice | markdownify }}
    </p>  
  {%- endif -%}
</div>